BILLETTO_ACCESS_KEY=your_api_key_here
BILLETTO_API_BASE_URL=https://billetto.dk/api/v3
BILLETTO_SECRET_KEY=your_api_key_here

REDIS_URL=redis_url_here


CLERK_SECRET_KEY=sk_test_here
CLERK_PUBLISHABLE_KEY=pk_test_here

CLERK_SIGN_IN_URL=https://example-grouper-0004.accounts.dev/sign-in
CLERK_SIGN_UP_URL=https://example-grouper-004.accounts.dev/sign-up